body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    background-color:#733ea7;
    z-index: 100;
}
.bg-nav{
    background-color:#2f1944;
    opacity:0.8;
}
nav ul a{
    color:white !important;
    font-size:15px;
}
nav ul a:hover{
    background-color:black !important;
}
.c1
{  background-image: url("../img/moresolution/bg.png");

    height: 110%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.c4
{    
    background-image:url("../img/navfooter/bg-foot.png") !important;
    padding-top:150px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container{
    background-color: none;
}
.h11{
    color:white;
    font-weight:700;
}
.p1{
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 33px;
    
    color: #FFFFFF;
}
.p2{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align:center;
    color: #544C5D;
}
.p3{
    font-weight: normal;
font-size: 16px;
line-height: 24px;

color: #544C5D;

}
.margin{
    margin-top:10%;
}
.cul{
    height:auto;
    width:100%;
}
.text-m{
    margin-top:30%;
}
.container-fluid{
    background-color:transparent;
}
.c4 h5{
    font-weight:500 !important;
font-size: 20px;
line-height: 24px;

color: #180926;

}
.footer-copyright{
    font-weight: 300;
font-size: 12px;
line-height: 16px;
    margin-left:1%;
color: #180926;
}
.c4 a{
    font-weight: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    
    color: #180926 !important;
    
}
.img-footer2{
    width:60% !important;
    margin-left:-6%;
    margin-bottom:5%;
}
.margin-top{
    margin-top:5%;
}
.btn1{
    background-color:white;
    padding:10px 30px;
   
line-height: 16px;
text-align: center;
letter-spacing: 0.5px;
text-transform: uppercase;


}
.btn1 a{
    font-size: 14px;
    text-decoration:none;
    font-weight:900;
color: #452661;
}
.btn1:hover{
    background-color:rgb(230, 228, 228) !important;
}

.h1{
    font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 39px;

color: #452661;
}
.button{
    background: #733EA7;
border-radius: 5px;
font-size:12px;
color:white;
padding:10px 20px;
}
.button a{
    color:white;
    font-weight:900 !important;
}
.button:hover{
    background: rgb(85, 46, 124);
    color:white;
}
.button a:hover{
    text-decoration:none;
}


.button2{
    background: #452661;
border-radius: 5px;
font-size:12px;
color:white;
padding:10px 20px;
}
.button2 a{
    color:white;
    font-weight:900 !important;
}
.button2:hover{
    background: rgb(85, 46, 124);
    color:white;
}
.button2 a:hover{
    text-decoration:none;
}


.img-footer2{
    width:60% !important;
    margin-left:-6%;
    margin-bottom:5%;
}
.c4 h5{
    font-weight:900 !important;
font-size: 20px;
line-height: 24px;

color: #180926;

}
.footer-copyright{
    font-weight: 300;
font-size: 12px;
line-height: 16px;
    margin-left:1%;
color: #180926;
}
.c4 a{
    font-weight: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    
    color: #180926 !important;
    


}
.bg{
    padding-top:12%;
    background-image: url("bg3.png");
    margin-left:0 !important;
    margin-right:0 !important;
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.button2{
    font-size:14.5px !important;
    background: rgb(85, 46, 124) !important;
    color:white;
    padding:8px 19px !important;
}

.button2:hover{
    background: rgb(61, 33, 88) !important;
    color:white;
}
.button2 a:hover{
    text-decoration:none;
}